{% block wd_media_widget %}
    <div data-controller="media"
         data-id="{{ form.vars.id }}"
         data-category="{{ form.vars.category }}"
         data-media-id="{{ data ? data.id : null }}"
         data-config-responsive="{{ wd_media_config.responsive | json_encode }}"
         data-config-categories="{{ wd_media_config.categories | json_encode }}"
    >
        <input type="hidden" name="{{ full_name }}" value="{{ value }}">
        <div class="image">
            {% if data %}
                {% if data.mimeType not in ["image/png","image/jpeg","image/pipeg","image/tiff" ] %}
                    <a target="_blank" href="{{ vich_uploader_asset(data) }}">{{ data.label }}</a>
                {% else %}
                    <img src="{{ vich_uploader_asset(data) | imagine_filter('wd_media_admin_type') }}"
                         alt="{{ data.label }}">
                {% endif %}
            {% else %}
                Aucun media
            {% endif %}
        </div>
        <div class="media-btn {% if data %}btn-group-vertical{% else %} btn-group {% endif %}" data-media-target="btnGroup">
            {% if data %}
                {% include '@WDMedia/admin/Media/copy_dropdown.html.twig' with {media: data} %}
            {% endif %}
            {% if form.vars.allow_add %}
                <button type="button" class="btn btn-default js-btn-add" data-media-target="btnAdd">
                    <i class="fa fa-plus"></i>
                </button>
            {% endif %}
            {% if form.vars.allow_edit %}
                <button type="button" class="btn btn-default js-btn-edit {% if data is null %}d-none{% endif %}"
                        data-media-target="btnEdit">
                    <i
                            class="fa fa-pencil"></i></button>
            {% endif %}
            {% if form.vars.allow_list %}
                <button type="button" class="btn btn-info js-btn-list"
                        data-media-target="btnList"
                ><i class="fa fa-list"></i>
                </button>
            {% endif %}
            {% if form.vars.allow_delete %}
                <button type="button" class="btn btn-danger js-btn-delete {% if data is null %}d-none{% endif %}"
                        data-media-target="btnDelete"
                >
                    <i
                            class="fa fa-trash"></i></button>
            {% endif %}
            {% if form.vars.allow_crop %}
                <button type="button" class="btn btn-default js-btn-crop d-none"
                        data-media-target="btnCrop"
                ><i class="fa fa-crop"></i></button>
            {% endif %}
        </div>
    </div>


{% endblock %}
