{% block file_widget %}
    {% set media = form.parent.vars.value %}
    {% if not media %}
        {{ form_widget(form) }}
    {% else %}
        <div data-controller="media"
             data-id="{{ form.vars.id }}"
             data-category="{{ media.category }}"
             data-media-id="{{ media ? media.id : null }}"
             data-config-responsive="{{ form.vars.attr.responsive }}"
             data-config-categories="{{ form.vars.attr.categories }}"
        >

            {{ form_widget(form) }}
            {% if media and media.id %}
                <div class="btn-group d-flex">
                    {% include '@WDMedia/admin/Media/copy_dropdown.html.twig' %}
                    <button type="button" class="btn btn-default js-btn-crop d-none"><i class="fa fa-crop"></i></button>
                </div>
            {% endif %}
        </div>

        {% if media.mimeType not in ["image/png","image/jpeg","image/pipeg","image/tiff", 'image/svg+xml' ] %}
            <a target="_blank" href="{{ vich_uploader_asset(media) }}">{{ media.label }}</a>
        {% elseif media.mimeType == 'image/svg+xml' %}
            <img src="{{ vich_uploader_asset(media) }}" alt="" width="100px">
        {% else %}
            <img src="{{ vich_uploader_asset(media) | imagine_filter('wd_media_admin_type') }}"
                 alt="{{ media.label }}">
        {% endif %}
    {% endif %}
{% endblock %}