{% if object is defined %}
    {% if object.isPicture and settings.format is defined and settings.format is not empty %}
        {% set absolute_url = settings.absolute_url is defined and settings.absolute_url is not empty ? settings.absolute_url : null %}
        {% if settings.responsive is defined and settings.responsive is same as true %}
            {{ object|wd_media_image_responsive(settings.format, absolute_url) }}
        {% else %}
            {% set device = settings.device is defined and settings.device is not empty ? settings.device : null %}
            <img
                 alt="{{ object.alt }}"
                 class="{{ settings.class is defined ? settings.class : '' }}"
            {% if settings.lazy is defined and settings.lazy is same as true %}
{#                {{ object|wd_media_image_lazy_attr(settings.format, device) }}#}
            {% else %}
                src="{{ object|wd_media_image_path(settings.format, device, absolute_url) }}"
            {% endif %}
            {{ settings.width is defined ? 'width='~ settings.width : '' }}
            {{ settings.height is defined ? 'height='~ settings.height: '' }}
>
        {% endif %}
    {% elseif object.isGif or object.isSvg %}
        <img src="{{ object|wd_media_path }}"
             alt="{{ object.alt }}"
                {{ settings.width is defined ? 'width='~ settings.width : '' }}
                {{ settings.height is defined ? 'height='~ settings.height : '' }}
                {{ settings.class is defined ? 'class='~ settings.class : '' }}
        >
    {% else %}
        <a href="{{ object|wd_media_path }}"
           class="{{ settings.class is defined ? settings.class : '' }}">{{ object.label }}</a>
    {% endif %}
{% endif %}

